// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Buttons
$btn-xl: 				darken(#88CEC0, 15%);

// Colors
$brand-primary:         	#FDAE47; 
$brand-secondary: 			#88CEC0;
$btn-info-color:			#88CEC0;	
$brand-secondary-darken: 	$btn-xl;
